.country{
  fill: white;
  stroke: black;
  stroke-width: 0.2;
  stroke-linejoin: round;
}

path { 
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  sroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 9px;
}

.legend rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}


.legend text {
  font-family: sans-serif;
  font-size: 10px;
}
